<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} [%t] %-5p %c{1}:%L - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="STDOUT" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>